<section>
    <!-- sidebar menu start -->
    <app-nav></app-nav>
    <!-- //sidebar menu end -->
    <!-- header-starts -->
    <app-side></app-side>
    <!-- //header-ends -->
    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                    <li class="breadcrumb-item active" aria-current="page">Related</li>
                </ol>
            </nav>

            <app-loading *ngIf="loading"></app-loading>
            <!-- forms 2 -->
            <div *ngIf="!loading" class="card card_border py-2 mb-4">
                <div class="card-body">
                    <form #mySelectCategory="ngForm" (ngSubmit)="mySelectCategory.reset()">
                        <div class="form-row">
                            <div class="form-group col-md-0">
                                <!-- <button id="catcreate" class="btn btn-primary btn-style ">Create</button> -->
                                <button [disabled]="mySelectCategory.invalid" type="button"
                                    class="btn btn-primary btn-style" data-toggle="modal"
                                    data-target="#exampleModalScrollable">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- //forms 2 -->

            <!-- table -->

            <!-- table end -->

        </div>
        <!-- //content -->
    </div>
    <!-- main content end-->
</section>
<app-footer></app-footer>
<!-- create products -->
<div class="card-body">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalScrollableTitle">Product List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <div *ngIf="loadingproduct" class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar"
                            [style.width.%]="progressbarretailji" [attr.aria-valuenow]="progressbarretailji"
                            [attr.aria-valuemin]="0" [attr.aria-valuemax]="100">
                            {{ progressbarretailji | number:'1.2-2' }}% Complete (info)
                        </div>
                    </div>
                    <div *ngIf="!loadingproduct" class="table-main">
                        <table id="documents-table-list" class="table">
                            <thead class="sub-titles">
                                <tr>
                                    <th scope="col">
                                        <div style="width: 40px;">
                                            <input #retailjiselectall type="checkbox" id="selectedndeselectedproduct"
                                                (click)="selectAll(retailjiselectall.checked)">
                                        </div>
                                    </th>
                                    <!-- <th>id</th> -->
                                    <th>S/n</th>
                                    <th>Name</th>
                                    <th>Sku</th>
                                    <th>Mrp</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let productobj of globleproductList;let i= index">
                                    <td class="align-middle">
                                        <input #retailjiselectOnebyone type="checkbox" id="selectedndeselectedproduct"
                                            (click)="selectOneByOne(retailjiselectOnebyone.checked,productobj,i)"
                                            [checked]="productobj.checked">
                                    </td>
                                    <td class="align-middle"> {{i+1}} </td>
                                    <td class="align-middle"> {{productobj.name}} </td>
                                    <td class="align-middle"> {{productobj.sku_code}} </td>
                                    <td class="align-middle"> {{productobj.amount}} </td>
                                    <td class="align-middle">
                                        <img *ngIf="isimage(productobj.images[0])" alt="profile" width="71" height="71"
                                            class="wa-xs product-image" src="{{productobj.images[0]}}"
                                            style="color: transparent; object-fit: contain;" priority>
                                        <img *ngIf="!isimage(productobj.images[0])" alt="profile" width="71" height="71"
                                            class="wa-xs product-image" src="assets/user033f.jpeg"
                                            style="color: transparent; object-fit: contain;" priority>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="productList.length!=0" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="addproduct()" id="submitselectcat" type="button" class="btn btn-primary"
                        data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>